.titlebanner {
  height: 80px;
}

h2 { 
  font-size: 40px;
  text-align: center;
}

.questionbox {
  margin-top: 10vh;
  margin-bottom: 50vh;
  width: 80%;
  height: 40vh;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

.textinput {
  width: 90%;
  height: 50px;
  margin-top: 10px;
  border: none;
  border-bottom: 1px black solid;
  font-size: 30px;
}


.proccedlogin {
  margin-top: 15vh;
  margin-bottom: 50vh;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  height: 40vh;
  text-align: center;
}


.h3 {
  font-size: 30px;
  text-align: left;
  margin-left: 5%;
}


.textinput:focus {
  outline:none;
  border-bottom: 2.5px rgb(191, 18, 93)d;
}
.optionInput {
  width: 90%;
  height: 60px;
  margin-top: 5px;
  border: none;
  border-bottom: 1px rgb(191, 18, 93);
  font-size: 30px;
}

.optioninput:focus {
  outline:none;
  border-bottom: 3px rgb(191, 18, 93);
}
.nextbutton {
  display: block;
  float: right;
  margin-top: 30px;
  margin-right: 5%;
  font-size: 30px;
  color: white;
  background-color: rgb(191, 18, 93);
  border: none;
  padding: 2px 20px;
  border-radius: 30px;
}

.backbutton {
  display: block;
  float: left;
  margin-top: 30px;
  margin-right: 5%;
  font-size: 20px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border: none;
  padding: 2px 20px;
  border-radius: 30px;
}

.progressing::-webkit-progress-bar {
  background-color: rgb(255, 255, 255);
  border: none;
}


.progressing::-webkit-progress-value {
  transition: all 1s;
  background-color: rgb(191, 18, 93)
}

.progressing {
  width: 100%;
  height: 20px;
  border: none;
  border-radius: none;
  margin: 0;
  background-color: white;
}

.proccedlogin {
  text-align: center;
}

.logintext {
  text-align: center;
}

.h3login {
  font-size: 60px;
  text-align: center;
}

.h4login {
  font-size: 40px;
  text-align: center;
}

.loginbutton {
  text-align: center;
  margin-top: 30px;
  font-size: 40px;
  color: white;
  background-color: green;
  border: none;
  padding: 5px 20px;
}

.addanotherbutton {
  display: block;
  text-align: center;
  margin-top: 10px;
  border-radius: 10px;
  color: rgb(191, 18, 93);
  text-decoration: none;
  border: none;
  background-color: transparent;
  font-size: 20px;
}

.textarea {
  margin-left: 5%;
  width: 90%;
  height: 20vh;
  border: black solid 1px;
  border-radius: 10px;
}

.subheading {
  margin-left: 5%;
  text-align: left;
}

.uploadbutton {
  display: block;
  margin-top: 30px;
  margin-left: 5%;
  font-size: 30px;
  color: rgb(191, 18, 93);
  background-color: rgb(255, 255, 255);
  border: solid 1px rgb(191, 18, 93);
  padding: 2px 20px;
  border-radius: 30px;
}

.gallerybutton {
  display: block;
  margin-top: 30px;
  margin-left: 5%;
  font-size: 30px;
  color: rgb(191, 18, 93);
  background-color: rgb(255, 255, 255);
  border: solid 1px rgb(191, 18, 93);
  padding: 2px;
  width: 40%;
  border-radius: 30px;
}

.reviewsectiontitle {
  font-size: 30px;
  font-weight: 600;
}

.reviewcontent {
  text-align: left;
  display: flex;
  justify-content: left;
  width: 30%;
  margin-left: 35%;

}